@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body {
	font-family: 'Sriracha', cursive;
	margin: 0;
}
button {
	background: white;
	color: rgb(93, 142, 235);
	border: none;
	padding: 8px;
	border-radius: 5px;
	outline: none;
}
button:hover,
button:focus {
	background: rgb(240, 240, 240);
}
#taskName {
	outline: none;
	padding: 7px;
	border-radius: 5px;
	border: none;
}

.deleteTaskBtn {
	background: transparent;
	border: none;
	font-size: xx-large;
	outline: none;
}

.deleteTaskBtn:hover {
	color: red;
}
table {
	padding: 0px 2em;
	width: 100%;
}

td:nth-child(1),
td:nth-child(4) {
	width: 5%;
	text-align: center;
}

#header-content {
    margin-bottom: 0;
    padding-bottom: 1%;
    padding-top: 1%;
}
#writeTask {
    background-color: #117DC6;
    text-align: center;
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 4%;
}

tr:nth-child(odd) {
    background: #bbdcf1;
  }